In [39]:
import pandas as pd
import numpy as np
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/cleaned_energy_data.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4698 entries, 0 to 4697
Data columns (total 33 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   country                                   4698 non-null   object
 1   year                                      4698 non-null   int64
 2   population                                4698 non-null   float64
 3   life_expectancy                           4698 non-null   float64
 4   consumption_per_capita                    4698 non-null   float64
 5   consumption_per_GDP                       4698 non-null   float64
 6   ppp_2015USD                               4698 non-null   float64
 7   production_total                          4698 non-null   float64
 8   production_coal                           4698 non-null   float64
 9   production_natural_gas                    4698 non-null   float64
 10  production_petrolium_and_other_liquids    4698 non-null   float64
 11  production_nuclear                        782 non-null    float64
 12  production_nuclear_renewables_and_other   4698 non-null   float64
 13  production_renewables_and_other           4698 non-null   float64
 14  consumption_total                         4698 non-null   float64
 15  consumption_coal                          4698 non-null   float64
 16  consumption_natural_gas                   4698 non-null   float64
 17  consumption_petrolium_and_other_liquids   4698 non-null   float64
 18  consumption_nuclear                       782 non-null    float64
 19  consumption_nuclear_renewables_and_other  4698 non-null   float64
 20  consumption_renewables_and_other          4698 non-null   float64
 21  imports_crude_oil                         4698 non-null   float64
 22  imports_natural_gas                       4698 non-null   float64
 23  imports_coal                              4698 non-null   float64
 24  imports_electricity                       4698 non-null   float64
 25  exports_crude_oil                         4698 non-null   float64
 26  exports_natural_gas                       4698 non-null   float64
 27  exports_coal                              4698 non-null   float64
 28  exports_electricity                       4698 non-null   float64
 29  emissions_co2_emissions                   4698 non-null   float64
 30  emissions_coal_and_coke                   4698 non-null   float64
 31  emissions_consumed_natural_gas            4698 non-null   float64
 32  emissions_petroleum_and_other_liquids     4698 non-null   float64
dtypes: float64(31), int64(1), object(1)
memory usage: 1.2+ MB

In [5]:
df.drop(columns = ['production_nuclear', 'consumption_nuclear'], inplace = True)

In [29]:
df[df['country'] == 'Zambia']

,country,year,population,life_expectancy,consumption_per_capita,consumption_per_GDP,ppp_2015USD,production_total,production_coal,production_natural_gas,...,imports_coal,imports_electricity,exports_crude_oil,exports_natural_gas,exports_coal,exports_electricity,emissions_co2_emissions,emissions_coal_and_coke,emissions_consumed_natural_gas,emissions_petroleum_and_other_liquids
172,Zambia,1992,8451.346,46.987,13.130251,1.612183,68.83109,0.091907,0.012656,0.0,...,0.000000,0.020,0.0,0.0,15.267010,1.500,2.892327,0.892327,0.0,2.000000
346,Zambia,1993,8656.482,45.919,12.253700,1.442992,73.50970,0.094266,0.015237,0.0,...,0.000000,0.020,0.0,0.0,13.185850,1.500,2.501736,0.901736,0.0,1.600000
520,Zambia,1994,8869.745,44.983,11.896845,1.570990,67.16909,0.092272,0.013169,0.0,...,0.000000,0.020,0.0,0.0,24.507690,1.500,2.459724,0.859724,0.0,1.600000
694,Zambia,1995,9096.609,44.242,11.145579,1.466921,69.11550,0.087746,0.007395,0.0,...,0.000000,0.020,0.0,0.0,10.421250,1.500,1.938127,0.338127,0.0,1.600000
868,Zambia,1996,9339.740,43.735,10.326526,1.313753,73.41341,0.079224,0.006399,0.0,...,0.000000,0.030,0.0,0.0,1.453950,1.300,2.128562,0.428562,0.0,1.700000
1042,Zambia,1997,9597.609,43.461,10.871928,1.369108,76.21350,0.086429,0.006696,0.0,...,0.000000,0.030,0.0,0.0,1.377340,1.200,2.195024,0.495024,0.0,1.700000
1216,Zambia,1998,9866.476,43.413,10.354001,1.345603,75.91950,0.084101,0.007991,0.0,...,0.000000,0.419,0.0,0.0,1.300730,1.520,2.268921,0.468921,0.0,1.800000
1390,Zambia,1999,10140.580,43.594,9.772926,1.247366,79.44990,0.085156,0.007080,0.0,...,0.000000,0.150,0.0,0.0,6.791340,1.700,1.984588,0.284588,0.0,1.700000
1564,Zambia,2000,10415.950,44.000,9.563079,1.206698,82.54640,0.084224,0.005554,0.0,...,0.000000,0.000,0.0,0.0,9.429910,1.326,1.895351,0.295351,0.0,1.600000
1738,Zambia,2001,10692.170,44.615,9.750101,1.199166,86.93520,0.086799,0.005654,0.0,...,20.297936,0.000,0.0,0.0,12.781490,1.052,2.107556,0.307556,0.0,1.800000
1912,Zambia,2002,10971.680,45.400,9.824759,1.186475,90.85240,0.086802,0.004807,0.0,...,72.458143,0.103,0.0,0.0,12.341895,0.778,2.112516,0.312516,0.0,1.800000
2086,Zambia,2003,11256.720,46.322,9.921032,1.149399,97.16230,0.088058,0.004902,0.0,...,144.712359,0.151,0.0,0.0,11.902300,0.504,2.232964,0.332964,0.0,1.900000
2260,Zambia,2004,11550.670,47.354,9.958023,1.106031,103.99510,0.089442,0.005168,0.0,...,83.137323,0.403,0.0,0.0,12.125420,0.231,2.245567,0.245567,0.0,2.000000
2434,Zambia,2005,11856.250,48.496,10.211758,1.085665,111.51980,0.091998,0.003667,0.0,...,53.117012,0.465,0.0,0.0,9.568405,0.243,2.423983,0.323983,0.0,2.100000
2608,Zambia,2006,12173.500,49.757,10.282954,1.040268,120.33390,0.096916,0.001565,0.0,...,54.803546,0.187,0.0,0.0,4.765465,0.552,2.335617,0.135617,0.0,2.200000
2782,Zambia,2007,12502.970,51.134,9.454339,0.906604,130.38470,0.094991,0.000342,0.0,...,82.673250,0.275,0.0,0.0,3.201839,0.417,2.234365,0.182042,0.0,2.052324
2956,Zambia,2008,12848.520,52.606,9.511737,0.869706,140.52070,0.093334,0.000086,0.0,...,136.532117,0.264,0.0,0.0,3.909721,0.096,2.467234,0.267234,0.0,2.200000
3130,Zambia,2009,13215.150,54.130,9.404529,0.809777,153.47720,0.096019,0.000000,0.0,...,120.451947,0.010,0.0,0.0,2.429673,0.589,2.364738,0.364738,0.0,2.000000
3304,Zambia,2010,13606.000,55.655,9.574452,0.769542,169.28260,0.101434,0.000000,0.0,...,157.351317,0.013,0.0,0.0,4.646195,0.578,2.294449,0.294449,0.0,2.000000
3478,Zambia,2011,14023.180,57.126,10.407156,0.816669,178.70320,0.111087,0.000000,0.0,...,93.735754,0.120,0.0,0.0,4.063141,0.029,2.446640,0.163327,0.0,2.283313
3652,Zambia,2012,14465.150,58.502,10.840246,0.815506,192.28030,0.119190,0.002200,0.0,...,74.368833,0.163,0.0,0.0,4.160498,0.980,2.930657,0.236472,0.0,2.694185
3826,Zambia,2013,14926.530,59.746,11.139360,0.823099,202.00720,0.129724,0.003648,0.0,...,57.633525,0.073,0.0,0.0,5.144532,1.083,3.170716,0.341023,0.0,2.829693
4000,Zambia,2014,15399.800,60.831,11.588749,0.842997,211.70240,0.136778,0.003893,0.0,...,44.456920,0.013,0.0,0.0,3.272292,1.256,3.611289,0.363177,0.0,3.248111
4174,Zambia,2015,15879.380,61.737,10.875946,0.792468,217.93090,0.124983,0.004022,0.0,...,54.951930,0.785,0.0,0.0,4.243030,1.176,3.940613,0.388692,0.0,3.551921
4348,Zambia,2016,16363.450,62.464,10.006007,0.724118,226.11350,0.109538,0.008067,0.0,...,46.205360,2.185,0.0,0.0,1.821240,0.794,4.264122,0.845774,0.0,3.418348
4522,Zambia,2017,16853.600,63.043,11.185036,0.805293,234.08650,0.134275,0.019626,0.0,...,51.785070,0.753,0.0,0.0,1.039730,1.063,5.732766,1.937094,0.0,3.795672
4696,Zambia,2018,17363.720,63.510,12.207614,0.870219,243.58190,0.153048,0.028917,0.0,...,97.105841,0.152,0.0,0.0,2.994003,1.225,7.143270,2.894102,0.0,4.249168

In [30]:
least_developed_countries = ['Afghanistan', 'Angola', 'Bangladesh', 'Benin', 'Bhutan', 'Burkina Faso'
                             'Burundi', 'Cambodia', 'Central African Republic', 'Chad', 'Comoros',
                             'Congo-Brazzaville', 'Congo-Kinshasa', 'Djibouti', 'Ethiopia',
                             'Gambia, The', 'Guinea', 'Guinea-Bissau', 'Haiti', 'Kiribati', 'Laos', 
                             'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Mali', 'Mauritania',
                             'Mozambique', 'Myanmar', 'Nepal', 'Niger', 'Rwanda', 'Sao Tome and Principe',
                             'Senegal', 'Sierra Leone', 'Solomon Islands', 'Somalia', 
                             'Sudan', 'Togo', 'Uganda', 'Tanzania', 'Yemen', 'Zambia'
                            ]

In [35]:
ldc_df = df[df.country.isin(least_developed_countries)]

In [33]:
ldc_df.head()

,country,year,population,life_expectancy,consumption_per_capita,consumption_per_GDP,ppp_2015USD,production_total,production_coal,production_natural_gas,...,imports_coal,imports_electricity,exports_crude_oil,exports_natural_gas,exports_coal,exports_electricity,emissions_co2_emissions,emissions_coal_and_coke,emissions_consumed_natural_gas,emissions_petroleum_and_other_liquids
1,Afghanistan,1992,14485.500,51.641,2.159523,1.042253,30.0136,0.016143,0.000158,0.011092,...,0.00000,0.131,0.000,0.0,0.0,0.000,1.704078,0.015551,0.588528,1.10000
4,Angola,1992,12657.400,45.230,6.689229,1.423070,59.4969,1.152349,0.000000,0.021076,...,0.00000,0.000,508.400,0.0,0.0,0.000,5.218203,0.000000,1.118203,4.10000
13,Bangladesh,1992,107984.000,59.618,2.647463,1.624293,176.0050,0.204425,0.000000,0.194071,...,186.29039,0.000,0.000,0.0,0.0,0.000,16.433322,0.336537,10.296785,5.80000
18,Benin,1992,5331.810,54.776,2.124834,0.994890,11.3874,0.012589,0.000000,0.000000,...,0.00000,0.238,2.563,0.0,0.0,0.000,0.800000,0.000000,0.000000,0.80000
19,Bhutan,1992,532.332,54.384,24.728125,9.205295,1.4300,0.016641,0.000053,0.000000,...,24.25084,0.003,0.000,0.0,0.0,1.445,0.122191,0.040931,0.000000,0.08126

In [36]:
ldc_df_2018 = ldc_df[ldc_df.year == 2018]
ldc_df_2018.head()

,country,year,population,life_expectancy,consumption_per_capita,consumption_per_GDP,ppp_2015USD,production_total,production_coal,production_natural_gas,...,imports_coal,imports_electricity,exports_crude_oil,exports_natural_gas,exports_coal,exports_electricity,emissions_co2_emissions,emissions_coal_and_coke,emissions_consumed_natural_gas,emissions_petroleum_and_other_liquids
4525,Afghanistan,2018,37173.500,64.486,3.431825,1.670275,76.37840,0.063176,0.048392,0.005998,...,0.000000,4.986000,0.000,0.00000,0.000000,0.000,8.274967,4.752619,0.318252,3.204096
4528,Angola,2018,30833.300,60.782,12.616891,1.994526,195.04400,3.792675,0.000000,0.227785,...,0.000000,0.000000,1367.399,187.33351,0.000000,0.000,21.203161,0.000000,1.679088,19.524073
4537,Bangladesh,2018,161353.000,72.320,9.614602,2.102236,737.95000,1.140753,0.019270,1.084883,...,4630.483467,4.783000,0.000,0.00000,0.000000,0.000,90.781631,10.029381,59.526547,21.225703
4542,Benin,2018,11491.200,61.470,8.746353,2.825356,35.57290,0.000047,0.000000,0.000000,...,132.077682,1.293173,0.000,0.00000,0.000000,0.000,6.947637,0.278780,0.037151,6.631707
4543,Bhutan,2018,754.121,71.460,78.463691,7.698528,7.68603,0.065490,0.002757,0.000000,...,39.359081,0.134000,0.000,0.00000,1.963214,4.581,0.895528,0.325393,0.000000,0.570135

In [ ]:
#sns.pairplot(ldc_df_2018)

In [42]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import DBSCAN

data = ldc_df_2018.drop(columns = ['country', 'year'])
sc = StandardScaler()
data_sc = sc.fit_transform(data)

In [55]:
dbscan = DBSCAN(eps = 1.3, min_samples=5)
dbscan.fit(data_sc)

DBSCAN(eps=1.3)

In [56]:
dbscan.labels_

array([-1, -1, -1, -1, -1, -1,  0,  0,  0, -1, -1,  0, -1,  0,  0,  0,  0,
        0, -1,  0,  0,  0,  0,  0,  0, -1, -1,  0,  0,  0, -1,  0,  0,  0,
       -1, -1,  0, -1, -1, -1])